body {
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #EBE8E4;
    color: #222;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    overflow: scroll;
}

#logo {
    height: auto;
    width: 40%;
    max-width: 300px;
    min-width: 100px;
    // position: absolute;
    top: 20%;
    left: 60%
    float: left;
}

#myheader {
    background-color:  #d5cfc7 ;
    position: relative;
}

#bugHeqd {
    position: absolute;
    right: 0;
    top: 50%;
    padding-right: 5%;
    line-height: 1.2em;
    margin-top: -0.6em;
    max-width: 50%;
    color: red;
    font-size: 1.2em;
    font-family: Helvetica, Verdana, sans-serif;
}

nav {
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
  width: 90%; 
}

  nav ul {
    margin: 0;
    padding: 0;
  }

    nav ul li {
      display: inline-block;
      list-style-type: none;
      
    }

      nav > ul > li > a {
        color: #aaa;
        display: block;
        line-height: 56px;
        padding: 0 24px;
        text-decoration: none;
      }

        nav > ul > li:hover {
          background-color: rgb( 40, 44, 47 );
        }

        nav > ul > li:hover > a {
          color: rgb( 255, 255, 255 );
        }

      
      nav > ul > li > div {
        background-color: rgb( 40, 44, 47 );
        border-top: 0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        display: none;
        margin: 0;
        opacity: 0;
        position: absolute;
        //width: 165px;
        //visibility: hidden;
        z-index: 100;
      }

        nav > ul > li:hover > div {
          display: block;
          opacity: 1;
          visibility: visible;
        }

          nav > ul > li > div ul > li {
            display: block;
          }

            nav > ul > li > div ul > li > a {
              color: #fff;
              display: block;
              padding: 12px 24px;
              text-decoration: none;
            }

              nav > ul > li > div ul > li:hover > a {
                background-color: rgba( 255, 255, 255, 0.1);
              }

sidebar {
    display: block;
    float: left;
    width: 10%;
    max-width: 200px;
    height: 70%;
    border-left: 3px solid #3f382f;
    background-color: #a0927f;
    padding: 5px;
}

main {
    height: 68%;
    overflow:auto;
    padding: 10px;
    padding-left: 40px;
    overflow: scroll;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    display: block;
    width: 100%;
    height: 2.5%;
    color: white;
    background-color: #615648;
    text-align: center;
    font-size: .9em;
}

