/*header {
    width: 100%;
	height: auto;
        }*/

/*body {
    width: 100%;
    padding: 0;
    overflow: hidden;
}*/

/*.hgroup {
    width: :100%;
}*/      

/*#banner {
    height: 80%;
}*/

#logo {
    height: auto;
    width: 40%;
    max-width: 300px;
    //min-width: 100px;
    position: absolute;
    top: 10%;
    left: 5%;
}

/*#mainNav {
    position: absolute;
    right: 0;
    top: 50%;
    //padding-right: 5%;
    line-height: 1.2em;
    margin-top: -0.6em;
    max-width: 50%;
}*/


/*hgroup {
    color: #66C266;

}*/

/*nav {
    position: absolute;
    height: 20%;
    //background-color: #99ADEB;
	width: 100%;
}*/

/*#mainNav {
    list-style-type: none;
     color: #66C266;
}*/

/*.navButton {
    float: left;
    width: 13%
    padding: text-align:center;
}*/

/*#mainNav first=child{
}*/

/*.navButtons {
    text-decoration: none;
    color: inherit;
}*/

/*.submenu {
    display: none;
}*/

/*#myheader {
     color: #66C266;
}*/





